<tr class="<%= "line-item-highlight" if @current_item == line_item %>">
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.product.price) %></td>
</tr>